body {
  margin:      1em;
  background:  #222;
  color:       #eee;
  font-family: sans-serif;
}

header {
  background:          #eee;
  background-image:    url("andromeda.gif");
  background-position: center;

  text-align: center;
}

h1 {
  display:     inline;
  background:  #222;
  padding:     0.5em;
  line-height: 5em;
}

main {
  width:         40em;
  margin:        auto;
  margin-top:    4em;
  margin-bottom: 4em;
  line-height:   1.5em;
  font-size:     1.25em;
}

a {
  text-decoration: none;
  color: #bbb;
}

img {
  width: 100%;
}

.item {
  margin-top: 4em;
}
