html {
  background:   black;
  color:        white;
  font-family:  sans-serif;
  line-height:  1.5em; }

body {
  background: #202020;
  width:      40em;
  margin:     0 auto; }

header {
  background-image: url("./andromeda.gif");
  background-size:  100%; }

#header-container {
  padding: 4em; }

h1 {
  display:    inline;
  background: black;
  padding:    0.5em;
  text-align: center; }

main {
  margin: 0; }
  main .text {
    padding: 2em; }
  main img {
    width: 100%; }

a {
  color: inherit; }
